<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>${title}</title>
</head>
<body>
<div>
	#*
	foreach de la lista de datos enviados desde java
	*#

	#foreach($persona in $personas)
		<p>$persona.getNombre() - $persona.getEdad()</p>
	#end
</div>
</body>
</html>